<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>1chapter</string>
		<string>2chapter</string>
		<string>3chapter</string>
		<string>4chapter</string>
		<string>5chapter</string>
		<string>6chapter</string>
		<string>7chapter</string>
		<string>8chapter</string>
		<string>examples</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
	</array>
</dict>
</plist>
